/* base styles */

body {
  background: #f2f2f2;
  text-align: center;
  font-size: 1.4em;
  font-family: Verdana;
}
form {
  background: white;
  margin: 200px auto;
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
}
form .field {
  display: flex;
  align-items: center;
}
form input {
  margin: 0 16px;
  font-size: 0.8em;
  border: 2px solid #777;
  border-radius: 4px;
  padding: 4px;
  outline: none;
}

/* solution styles */
.field {
  overflow: hidden;
}

.field .tick {
  color: rgba(101, 242, 62, 0);
  transform: translateY(30px);
  transition: all .1s ease-out;
}

.field input.validated {
  border-color: rgba(101, 242, 62, 1)
}

.field input.validated + .tick {
  transform: translateY(0);
  color: rgba(101, 242, 62, 1);
}